#map { 
    height: 480px; 
    width: 480px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}


.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}